@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,700&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

:root {
  --background-color: #0d0d0d;
  --secondary-color: #818181;
  --rating-color: #c1ae00;
  --chip-color: #4f4f4f;
}

.hr {
  height: 2px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  width: 60%;
  margin: auto;
  border-radius: 4px;
}

h1 {
  font-weight: 400;
  color: white;
}

h1 span {
  font-weight: 700;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--secondary-color);
}

.genreDiv button {
  font-family: inherit;
  cursor: pointer;
  padding: 0.75rem;
  background-color: var(--chip-color);
  border: 1px solid white;
  font-size: 1em;
  border-radius: 30px;
  margin: 0px 16px 16px 0px;
  color: white;
}

button:hover {
  background-color: #666666;
}

.listDiv ul {
  list-style: none;
  text-align: left;
  max-width: 600px;
  margin: auto;
  padding: 0px;
}

.listDiv li {
  background-color: #171717;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.75rem;
}

.listDiv .movieItem {
  display: flex;
}

.listDiv .poster {
  margin-right: 1rem;
}

.listDiv img {
  max-width: 100px;
  min-width: 80px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.listDiv .title {
  font-size: 18px;
  color: white;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.listDiv .cast {
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.listDiv .rating {
  color: #c1ae00;
  font-weight: 600;
}
